---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-text-primary bg-gradient-to-br from-blue-500/10 to-gray-50 min-h-screen">
		<slot />
	</body>
</html>
<style is:global>
	/* It's a good practice to define your theme colors as CSS variables, 
	   especially if you need to access them in your component's <script> tags 
	   or for components that don't support tailwind classes directly. */
	:root {
		--primary: #2563EB;
		--secondary: #F59E0B;
		--success: #10B981;
        --error: #EF4444;
		--background: #f9fafb;
		--surface: #ffffff;
		--text-primary: #111827;
		--text-secondary: #6B7280;
	}

	.dark {
		--background: #111827;
		--surface: #1f2937;
		--text-primary: #f9fafb;
		--text-secondary: #d1d5db;
	}
</style>
