---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NotesManager from '../components/NotesManager.jsx';
---

<Layout title="Notes App">
  <main>
    <Header />
    <NotesManager client:load />
  </main>
</Layout>
